extends ../../../views/layout
block content
	h1 Quienes somos
	p LA FUNDACIÓN CONEXIÓN SE CREÓ PARA DIFUNDIR MASIVAMENTE CONOCIMIENTO QUE PERMITA MEJORAR LA CALIDAD DE VIDA Y PROVEER BIEN-ESTAR PARA TODA LA COMUNIDAD. BUSCAMOS DAR HERRAMIENTAS E INFORMACIÓN QUE CADA CUAL PUEDA USAR PARA CRECER INTERIORMENTE, PARA MEJORAR SU VIDA PERSONAL Y SU ENTORNO FAMILIAR Y LABORAL, PARA PROTEGER Y MEJORAR SU SALUD FÍSICA, MENTAL/EMOCIONAL Y PARA LA RECONEXIÓN CON SU DIMENSIÓN ESPIRITUAL.
	p PARA FACILITAR EL ACCESO AL CONOCIMIENTO, DIFUNDIREMOS VIDEOS CORTOS, EN LENGUAJE SENCILLO, CON ENTREVISTAS PERMANENTES A RECONOCIDOS CIENTÍFICOS,  MÉDICOS DE DIVERSAS ESPECIALIDADES,  PSICÓLOGOS, COACHES, TERAPEUTAS DE DIFERENTES DISCIPLINAS RECONOCIDAS Y LÍDERES ESPIRITUALES, ENTRE OTROS.