extends ../../../views/layout
block content
  br
  br
  br 
  br
  br
  br  
  br
  br
  br  
  br
  br
  br  
  br
  br
  br  
  br
  br
  br 
  br
  br
  br  
  br
  br
  br  
  br
  br
  br  
  br
  br
  br  
  form(action="https://50.57.192.214/AddcelColombiaWeb/login" method="post")
    p #{form.json}
    input(type="hidden" name="json" size="100" value=form.json)
    input(type="hidden" name="comercio" value=form.comercio)  
    input(type="submit" value="Login")