doctype html
html
  head    
    meta(name="description" content="Conexión Bienestar es una fundación que ayuda a que la gente viva mejor, difundiendo conocimiento en salud física, salud emocional y salud espiritual.")
    meta(name="keywords" content="Conexión, bienestar, ayuda, estrellas, salud espiritual, salud fisica, salud emocional")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/js/script.js') 
  body
    #splash
      div 
        img(src="/images/loaderInicial.gif")
        if frase
          h3 #{frase.texto}
        else 
          h3 FUNDACIÓN CONEXIÓN BIENESTAR