extends ../../../views/layout
block content
  script(type="text/javascript").
    homeCargado=true;
    ultimasEntradas=!{JSON.stringify(ultimasEntradas)}; 
    ultimasEntradasPrimarias=!{JSON.stringify(ultimasEntradasPrimarias)}; 
  #slider 
    #sliderImagenes.wrapper
      iframe(allowfullscreen frameborder="0" src="//www.youtube-nocookie.com/embed/-Dc_kzFd1lw?autoplay=1&?fs=1&hd=1&rel=0&showsearch=0&showinfo=0&iv_load_policy=3&loop=1&theme=light&modestbranding=1&autohide=1" style="width: 100%;height: 400px;")
      #nav-arrows.nav-arrows
        a.flecha(href="#" style="display:none") Next
        a.flecha(href="#" style="display:none") Previous
      #flechaAbajo
        a.scrolldown(href="javascript:void(0);")
          img(src="https://s3.amazonaws.com/fundacion-bucket/flechaAbajo.svg")
          img#img2(src="https://s3.amazonaws.com/fundacion-bucket/flechaAbajo.svg")
      
  #seccionesPrincipales
    #cards
      #cardFisico.card
      #card1.card
      #cardEmocional.card
      #card2.card
      #card3.card
      #cardEspiritual.card
      #card4.card
      #card5.card 
        
  #masContenido
      #linea1
      a(href="/todocontenido") 
        #centro MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR