extends ../../../views/layout
block content

  #sliderImagenes.wrapper
    ul#sb-slider.sb-slider
      li
        img(src="images/imageSlider/1.jpg" alt="image1")
        .sb-description
          h3 Creative Lifesaver
      li
        img(src="images/imageSlider/2.jpg" alt="image2")
        .sb-description
          h3 Honest Entertainer
      li
        img(src="images/imageSlider/3.jpg" alt="image1")
        .sb-description
          h3 Brave Astronaut
      li
        img(src="images/imageSlider/4.jpg" alt="image1")
        .sb-description
          h3 Affectionate Decision Maker
      li
        img(src="images/imageSlider/5.jpg" alt="image1")
        .sb-description
          h3 Faithful Investor
      li
        img(src="images/imageSlider/6.jpg" alt="image1")
        .sb-description
          h3 Groundbreaking Artist
      li
        img(src="images/imageSlider/7.jpg" alt="image1")
        .sb-description
          h3 Selfless Philantropist

    #shadow.shadow

    #nav-arrows.nav-arrows
      a(href="#") Next
      a(href="#") Previous

    #nav-dots.nav-dots
      span.nav-dot-current
      span
      span
      span
      span
      span
      span
      
  #seccionesPrincipales
    .spacer
      &nbsp;
    .float
      h3 Mente
      a.label(href="#") Leer +
    .float
      h3 Cuerpo
      a.label(href="#") Leer +
    .float
      h3 Espíritu
      a.label(href="#") Leer +
    .float
      h3 Aleatorio
      a.label(href="#") Leer +
    .spacer
      &nbsp;
    .float
      h3 Aleatorio
      a.label(href="#") Leer +
    .float
      h3 Aleatorio
      a.label(href="#") Leer +
    .float
      h3 Aleatorio
      a.label(href="#") Leer +
    .float
      h3 Aleatorio
      a.label(href="#") Leer +
    .spacer
      &nbsp;