extends ../../../views/layout
block content
  script(type="text/javascript").
    homeCargado=true;
    ultimasEntradas=!{JSON.stringify(ultimasEntradas)}; 
    ultimasEntradasPrimarias=!{JSON.stringify(ultimasEntradasPrimarias)}; 
  #slider 
    #sliderImagenes.wrapper
      ul#sb-slider.sb-slider

      #shadow.shadow

      #nav-arrows.nav-arrows
        a.flecha(href="#") Next
        a.flecha(href="#") Previous
      #flechaAbajo
        a.scrolldown(href="javascript:void(0);")
          img(src="/images/flechaAbajo.svg")
          img#img2(src="/images/flechaAbajo.svg")
      
  #seccionesPrincipales
    #cards
      #cardFisico.card
      #card1.card
      #cardEmocional.card
      #card2.card
      #card3.card
      #cardEspiritual.card
      #card4.card
      #card5.card 
        
  #masContenido
      #linea1
      a(href="/todocontenido") 
        #centro MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR