extends ../../../views/layout
block content

  #sliderImagenes
    img(src='/img/slider.png')
  #seccionesPrincipales
    table
      tr
        td
          a(href="#")
           h3 Mente
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
        td
          a(href="#")
           h3 Cuerpo
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
        td
          a(href="#")
           h3 Espiritu
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf
          p hdkjhfdjhkkhjdfjhkkjhfdghj
          p ffdkjhfkjkjhfkjhfkjfdkjhjh
          p fgdkjhdkjhdjkdfkjhgdfkjhdf