extends ../../../views/layout
block head 
  link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
  link(rel='stylesheet' type='text/css' href='/css/shadowbox.css')
  script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
  script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js') 
  script(type='text/javascript' src='/js/scroll.js')
  script(type='text/javascript' src='/js/shadowbox.js')
  script(type="text/javascript").
    Shadowbox.init();
block content
  script(type="text/javascript").
    ultimasEntradas=!{JSON.stringify(ultimasEntradas)}; 
    ultimasEntradasPrimarias=!{JSON.stringify(ultimasEntradasPrimarias)}; 
  #slider 
    #sliderImagenes.wrapper
      include ../../slider/views/slider 

      #flechaAbajo
        a.scrolldown(href="javascript:void(0);")
          img(src="https://s3.amazonaws.com/fundacion-bucket/flechaAbajo.svg")
          img#img2(src="https://s3.amazonaws.com/fundacion-bucket/flechaAbajo.svg")
      
  #seccionesPrincipales
    #cards
      #cardVideo.card
        h3 ¡Entérate!
        a(rel="shadowbox;width=605;height=500;" title="Fundación Conexión Bienestar" href="http://www.youtube-nocookie.com/embed/-Dc_kzFd1lw?autoplay=1&fs=1&hd=1&rel=0&showsearch=0&showinfo=0&iv_load_policy=3&loop=1&theme=light&modestbranding=1&autohide=1")
          img(src="http://img.youtube.com/vi/-Dc_kzFd1lw/1.jpg" style="width: 100%;height: 150px;")
      a(href="/estrellas")
        #cardDonar.card
          h3 AYUDANOS A AYUDAR
          img(src="/images/logoSoloBlanco.png")
  #agregarContenidoScroll
        
  #masContenido
    #linea1
    a(href="/todocontenido") 
      #centro MAS CONTENIDO +
    #linea2
      button.btn.btn-primary.scrollup(type="button") 
       b SUBIR