extends ../../../views/layout
block content
  script(type="text/javascript").
    homeCargado=true;
    ultimasEntradas=!{JSON.stringify(ultimasEntradas)}; 
    ultimasEntradasPrimarias=!{JSON.stringify(ultimasEntradasPrimarias)};
  #seccionesPrincipales
    #cards
  #agregarContenidoScroll

  script(type='text/javascript' src='/js/scroll.js')   
