extends ../../../views/layout
block content
  if user
    #noAdmin 
      h1 ¡Ya estas registrado!
  else
    #usuarioNuevo
      h3 INGRESE SUS DATOS
      form(method="POST", action="/user/signup")
        #datos1
          span Nombre Completo: 
          input(type="text" name="nombre" autofocus)
          span.asterisco *
        #datos2
          span E-mail: 
          input(type="email" name="correo")
          span.asterisco *
        #datos3
          span NickName: 
          input(type="text" name="nickName")
          span.asterisco *
        #datos4
          span Contraseña: 
          input(type="password" name="contrasena")
          span.asterisco *
        p 
          span.asterisco *
          span Campos obligatorios
        button.btn.btn-primary(type="submit") ENVIAR

