extends ../../../views/layout
block content
  if !administrador
    #editarMenu
      h3 EDITAR MENU
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Menu 1 
          #collapseOne.panel-collapse.collapse
            .panel-body Contenido Menu 1

        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo") Menu 2 
          #collapseTwo.panel-collapse.collapse
            .panel-body Contenido Menu 2

        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#collapseThree") Menu 3 
          #collapseThree.panel-collapse.collapse
            .panel-body Contenido Menu 3

      #botones
        button#agregarMenu.btn.btn-primary(type="button") Agregar Menu 
        span &nbsp; &nbsp; &nbsp;
        button.btn.btn-primary(type="button" onclick="location.href='/admin'") Regresar 
  else
    #noAdmin 
      h1 ¡No eres administrador!  