extends ../../../views/layout
block content
  if administrador
    #editarMenu
      h4 EDITAR MENU
      #accordion 
        h3 Menu 1
        div
          p Contenido Menu 1
        h3 Menu 2
        div
          p Contenido Menu 2
        h3 Menu 3
        div
          p Contenido Menu 3
        h3 Menu 4
        div
          p Contenido Menu 4
      #botones
        button.btn.btn-primary(type="button" id="agregarMenu") Agregar Menu 
        span &nbsp; &nbsp; &nbsp;
        button.btn.btn-primary(type="button")
          a(href="/admin") Regresar 
  else
    #noAdmin 
      h1 ¡No eres administrador!  