extends ../../../views/layout
block content
  if !user.rol=!"administrador"
    #noAdmin 
      h1 ¡No eres administrador! 
  else
    #admin
      h3 ¡BIENVENIDO ADMINISTRADOR!
      table
        tr
          td
            button.btn.btn-primary(type="button" onclick="location.href='/admin/editarMenu'") Administrar Menu 
        tr
          td
            button.btn.btn-primary(type="button" onclick="location.href='/admin/paginas'") Administrar Paginas
        tr
          td
            button.btn.btn-danger(type="button" onclick="location.href='/admin/logout'") Salir del Administrador 