extends ../../../views/layout
block content
  if !administrador
    #login
      h3 INGRESA TUS DATOS
      form(method="POST", action="/admin/login")
        table#tablaLogin
            tr 
             td#columnaPequena
                p Usuario:
             td#columnaGrande
                input(type="text" name="usuario" autofocus)
            tr
             td#columnaPequena
                p Contraseña:
             td#columnaGrande
                input(type="password" name="contrasena")
            tr
             td#olvidoContrasena(colspan="2")
                a(href="#")
                  p ¿Olvidó Contraseña?
            tr
             td#botonIngresar(colspan="2")
                button.btn.btn-primary(type="submit") Ingresar
  else
    #adminLogin
      h3 ¡BIENVENIDO AL MODO ADMINISTRADOR!
      table
        tr
          td
            button.btn.btn-primary(type="button" onclick="location.href='/admin/editarMenu'") Editar Menu 
        tr
          td
            button.btn.btn-primary(type="button" onclick="location.href='/admin/paginas'") Editar Paginas
        tr
          td
            button.btn.btn-danger(type="button" onclick="location.href='/admin/logout'") Salir del Administrador 