extends ../../../views/layout
block content
  #editarEnlaces
      table#tablaEditarEnlaces
  #paginaNueva
      form(method="POST", action="/admin/new")
        table#tablaCampos
            tr 
             td#columnaPequena
                p Enlace
             td#columnaGrande
                input(type="text" name="nombreEnlace")
            tr
             td#columnaPequena
                p Título
             td#columnaGrande
                input(type="text" name="titulo")
            tr
             td#columnaPequena
                p Contenido
             td#columnaGrande
                textarea(name="elemento" id="textContenido" class="ckeditor")
            tr
             td#columnaPequena
                p Descripción
             td#columnaGrande
                textarea(name="descripcion")
        table#tablaBotones
            tr
             td#guardar
                button(type="submit") Guardar 
             td#publicar 
                button#botonPublicar Publicar

  