doctype html
html
  head    
    meta(charset="utf-8")
    title= title   
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="/plugins/slider/css/feature-carousel.css" charset="utf-8")
    script(type='text/javascript', src='/js/jquery-1.7.min.js')      
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/plugins/ckeditor/ckeditor.js')
    script(type="text/javascript", src="/plugins/slider/js/jquery.featureCarousel.min.js" charset="utf-8")
    script(type='text/javascript', src='/js/script.js')     
  body
    script(type="text/javascript").
      pag=!{JSON.stringify(paginas)};

    #logo
     a(href='/') 
      img(src='/images/logo.png')

    #titulo
     h1 FUNDACIÓN BIENESTAR 

    #barra
     ul
      li
        a(href='#') Entrada Uno
      li
        a(href='#') Entrada Dos
      li
        a(href='#') Entrada Tres

    #contenido
     block content

    #piePagina
      footer 
        #logoPiePagina
          a(href='/') 
            img(src='/images/logo.png')

        #enlaces
          table#tablaEnlaces
            tr
              each pagina in paginas
                td
                  a(href="/"+pagina.nombreEnlace)
                    p #{pagina.titulo}
              td
                a(href="/admin/")
                 p Editar

       #copyright
        p Copyright @arleyViviana Todos los derechos reservados
  