doctype html
html
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href="/css/yamm.css")
    link(rel='stylesheet' href='/css/core.css')
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript' src='/js/bootbox.min.js') 
    script(type='text/javascript' src='/js/core.js') 
    script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
    script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js')
    script(type='text/javascript' src='/js/script.js')  
  body
    script(type="text/javascript").
      //Solo para etapa de desarrollo
      var message= "#{message}";
      if(message)
        bootbox.alert(message);
      pag=!{JSON.stringify(paginas)};    
    .navbar.yamm.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul#ulPrincipal.nav.navbar-nav
            li.dropdown.yamm-fw(id="li0")
              .colorMenu(id="colorMenu0")
              a.dropdown-toggle(href="/SobreNosotros" idDiv="colorMenu0" li="li0") 
                b SOBRE NOSOTROS
            li.dropdown.yamm-fw(id="li1")
              .colorMenu(id="colorMenu1")
              a.dropdown-toggle(data-toggle="dropdown" href="/" idDiv="colorMenu1" li="li1") 
                b QUIENES SOMOS
              ul.submenus.dropdown-menu.colorSubmenu 
                li
                  .yamm-content
                    .row
                      .col-sm-8
                        ul.yamm-content.list-unstyled(role="menu")
                            li
                              a.tituloSubmenu(tabindex="-1" href="/juntaDirectiva") 
                                b &bull;  JUNTA DIRECTIVA
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/direccionCientifica") 
                                b &bull; DIRECCIÓN CIENTÍFICA
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/embajadores") 
                                b &bull; EMBAJADORES
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/equipo") 
                                b&bull; EQUIPO
                      .divImagenSubmenu.col-sm-4
                        img(src="/images/logoBlanco.png")
            li.dropdown.yamm-fw(id="li2")
              .colorMenu(id="colorMenu2")
              a.dropdown-toggle(data-toggle="dropdown" href="/" idDiv="colorMenu2" li="li2") 
                b LINEAS DE ACCIÓN
              ul.submenus.dropdown-menu.colorSubmenu 
                li
                  .yamm-content
                    .row
                      .col-sm-8
                        ul.yamm-content.list-unstyled(role="menu")
                            li
                              a.tituloSubmenu(tabindex="-1" href="/plataformasDifusion") 
                                b &bull; PLATAFORMAS DE DIFUSIÓN 
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/educacion") 
                                b &bull; EDUCACIÓN
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/consultasonline") 
                                b &bull; CURSOS ONLINE
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/certificacionempresas") 
                                b &bull; CERTIFICACIÓN EMPRESARIAL
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/tiendabienestar") 
                                b &bull; TIENDA BIENESTAR
                            li.divider
                            li
                              a.tituloSubmenu(tabindex="-1" href="/centrosReconexion") 
                                b &bull; CENTROS DE RECONEXIÓN
                      .divImagenSubmenu.col-sm-4
                        img(src="/images/logoBlanco.png")
            li.dropdown.yamm-fw(id="li3")
              .colorMenu(id="colorMenu3")
              a.dropdown-toggle(href="/clubamigos" idDiv="colorMenu3" li="li3") 
                b CLUB DE AMIGOS
            li.dropdown.yamm-fw(id="li4")
              .colorMenu(id="colorMenu4")
              a.dropdown-toggle(href="/hacerdonacion" idDiv="colorMenu4" li="li4") 
                b APÓYANOS
            li.dropdown.yamm-fw(id="li5")
              .colorMenu(id="colorMenu5")
              a.dropdown-toggle(href="/contacto" idDiv="colorMenu5" li="li5") 
                b CONTÁCTANOS 

        ul#botonIngresar.nav.navbar-nav.navbar-right
          li.dropdown
            .btn-group
              if user
                if user.rol == "administrador"
                  button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Admin 
                  ul.dropdown-menu(role="menu")
                    li 
                      a(href="/admin") Administrar Contenido
                    li 
                      a(href="/user/logout") Salir
                else
                  button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") #{user.nickName} 
                  ul.dropdown-menu(role="menu")
                    li 
                      a(href="/user/logout") Salir
                   
              else
                button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                  span INGRESAR
                .dropdown-menu
                  #login
                    form(method="POST" action="/user/login")
                      #datos 
                        input(type="text" name="usuario" autofocus placeholder="USUARIO" required) 
                        input(type="password" name="contrasena" placeholder="CONTRASEÑA" required) 
                      #terminos 
                        input(type="checkbox" name="terminos" checked required)
                        span  &nbsp; ACEPTO &nbsp;
                        a(href="/terminosCondiciones") 
                          b TÉRMINOS Y CONDICIONES
                      button#botonLogin(type="submit") OK
                      #olvidoContrasena(style="display:none")
                        a(href="#")
                          b RECUPERAR CONTRASEÑA
                      #registrarse
                        a(href="/user/signup")
                          b REGISTRARSE 

    header#menuLateral.fixed
      section
        article.inner_header.rosado.fixed
          #parametrosBuscar
            form#formularioBuscar(method="POST", action="/admin/pagina/buscar")
              #palabraBuscar
                input(type="text" name="busqueda" placeholder="REALIZAR BUSQUEDA" required)
              #botonBuscar
                button.btn(type="submit") 
                  b OK
          #resultadoBuscar
            ul 
        article.inner_header.morado.fixed
          #ayudaConexion
            #tituloAyuda
              h3 &bull; COMO APOYARNOS
            p Pueden ayudarnos realizando donaciones mensuales a partir de $30 mil pesos, donaciones en especie y donaciones en tiempo de trabajo como voluntarios.
            #tuDonacionAqui
              h3 TU DONACIÓN AQUÍ 
              button.btn(type="button" onclick="location.href='/hacerdonacion'") 
                b DONAR 
      nav(class="")
        ul
          li
            a.abrir(href="javascript:void(0);" id="rosado") 
              img(src="/images/buscar.svg")
          li
            a(href="https://www.facebook.com/conexionybienestar?ref=hl") 
              img(src="/images/facebookBlanco.svg")
          li
            a(href="https://twitter.com/conexbienestar") 
              img(src="/images/twitterBlanco.svg")
          li
            a(href="https://instagram.com/conexionbienestar/") 
              img(src="/images/instagramBlanco.svg")
          li
            a.abrir(href="javascript:void(0);" id="morado")
              img(src="/images/sos.png")
    #contenido
      block content

    #piePagina
      #derecha
        a(href="/PoliticasProteccionDatosPersonales") POLÍTICAS DE PRIVACIDAD
        span &nbsp; - &nbsp;
        a(href="/terminosCondiciones") TÉRMINOS Y CONDICIONES
        span &nbsp; - &nbsp;
        span FUNDACIÓN CONEXIÓN BIENESTAR &copy; 2015
