doctype html
html
  head    
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" type="text/css" href="/plugins/Slicebox/css/slicebox.css")
    script(type='text/javascript', src='/js/jquery-1.7.min.js')      
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/plugins/ckeditor/ckeditor.js')
    script(type='text/javascript', src='/js/script.js')   
    script(type="text/javascript" src="/plugins/Slicebox/js/modernizr.custom.46884.js")
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript" src="/plugins/Slicebox/js/jquery.slicebox.js")
  body
    script(type="text/javascript").
      pag=!{JSON.stringify(paginas)};
      administrador="!{administrador}";
    #editar
      if administrador
        a(href="/admin")
          p Administrar
    #logo
     a(href='/') 
      img(src='/images/logo.png')

    #titulo
     h1 FUNDACIÓN BIENESTAR 

    #barra
     ul
      li
        a(href='#') Entrada Uno
      li
        a(href='#') Entrada Dos
      li
        a(href='#') Entrada Tres

    #contenido
     block content

    #piePagina
      footer 
        #logoPiePagina
          a(href='/') 
            img(src='/images/logo.png')

        #enlaces
          table#tablaEnlaces

       #copyright
        p Copyright @arleyViviana Todos los derechos reservados
  