nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="110" height="50")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar          
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul#menu.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") QUIENES SOMOS
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href="#") Sobre Nosotros
                li.divider
                li
                  a(href="#") Información Centros
                li.divider
                li
                  a(href="#") Franquicias 
                li.divider
                li
                  a(href="#") Plataforma de difusión
                  #submenu
                    p 
                      a(href="#") Web TV
                    p
                      a(href="#") Canales TV
                    p
                      a(href="#") Red Alterna
                    p
                      a(href="#") Publik
                    p
                      a(href="#") Otros Medios
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") AYUDAR
                span.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") Como Voluntario
                  li.divider
                  li
                    a(href="#") Hacer Donación
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") CERTIFICACIONES
                span.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") Salud Física
                  li.divider
                  li
                    a(href="#") Salud Emocional
                  li.divider
                  li
                    a(href="#") Conexión Espiritual
            li
              a(href="#") EVENTOS
            li
              a(href="#") CLUB AMIGOS
            li
              a(href="#") YO SOY TU
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") MAS...
                span.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") VIDEO
                  li.divider
                  li
                    a(href="#") TIENDA SANA
                  li.divider
                  li
                    a(href="#") CONTACTO
          ul#botonIngresar.nav.navbar-nav.navbar-right
            li 
              button#botonIngresar.btn.btn-primary.navbar-btn(type="button" onclick="location.href='/admin'") 
                if(administrador)
                  span ADMINISTRAR 
                else 
                  span INGRESAR 



/*navNuevo*/

.navbar.yamm.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="110" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown") Classic
                b.caret
              ul.dropdown-menu
                li.grid-demo
                  .row
                    .col-sm-6
                      ul.yamm-content.list-unstyled(role="menu")
                        li 
                          a(tabindex="-1" href="#") Action
                        li.divider
                        li
                          a(tabindex="-1" href="#") Separated linkljllkjkjhjhkjhjhkjhkjh
                    .col-sm-4
                      img(src="/images/logo.png" width="150" height="100")
            <!-- Classic list -->
            if mas 
              li.dropdown.yamm-fw
                a.dropdown-toggle(data-toggle="dropdown") Mas..
                  b.caret
                ul.dropdown-menu
                  li
                    <!-- Content container to add padding -->
                    .yamm-content
                      .row
                        ul.col-sm-2.list-unstyled
                          li
                            p
                              strong Links Title
                          li
                            a(href="#") Link Item 
                          li
                            a(href="#") Link Item
                          li
                            a(href="#") Link Item
                          li
                            a(href="#") Link Item
          ul#botonIngresar.nav.navbar-nav.navbar-right
            li 
              button#botonIngresar.btn.btn-primary.navbar-btn(type="button" onclick="location.href='/admin'") 
                if(administrador)
                  span ADMINISTRAR 
                else 
                  span INGRESAR 