/*Layout*/

#editar
  width 100%
  margin-right 15%
  p 
    vertical-aling center
    text-align right

#logo
  width 10%
  margin-left 15%
  float left

  img
    width 70%

#titulo
  width 70%
  float right

  h1
    text-aling center
    padding-left 15%

#barra
  float right
  width 85%
  padding-left 20%
  a 
   text-decoration none
   font-size 18px
  li
   display: inline;
   text-align: center
   padding 0 10% 0 10%

#contenido
  float left
  min-height 300px
  height auto
  width 80%
  margin 5% 10% 5% 10%

#logoPiePagina
  width 7%
  margin-left 18%
  float left
  img
    width 70%

#enlaces
  width 70%
  float right

#copyright
  width 100%
  margin-top 5%
  float left
  p 
    text-align center

#tablaEnlaces
  tr 
    td 
      padding 1% 2% 1% 2%
      width 130px
      text-align center
      
/*Fin Layout*/      
   
/*Home*/

#carrusel
  width 100%
  #sliderImagenes
    width 100%
    height 430px
    padding 2% 0 2% 0
    
  #carousel-right 
    right 40%
    botton 0

  #carousel-left 
    left 40%
    botton 0
  
  .tracker-individual-container
    top 370px
  .tracker-summation-container
    top 340px
    
#seccionesPrincipales
  width 100%
  h3
    text-align center
  p 
    text-align center
  table
    width 100% 
    tr 
      td 
        width 300px
        
/*Fin Home*/

/*Agregar paginas*/    
  
#editarEnlaces
  width 70%
  float left
  margin 0 0 5% 18%

#tablaEditarEnlaces
  tr 
    td 
      padding 1% 2% 1% 2%
      width 130px
      text-align center
      
#paginaNueva
  width 80%
  margin-left 10%
  #tablaCampos
    width 100%
    .columnaPequena
      width 8%
      height auto
      padding 1% 1% 1% 1%
    .columnaGrande
      width 92%
      height auto
      padding 1% 1% 1% 1%
      text-align center
      input 
        width 80%
        height 30px
      textarea
        width 80%
        height 30px
      #textContenido
        width 100%
        
  #tablaBotones
    width 100%
    height auto
    #guardar
      text-align right
      width 50%
      padding 3% 10% 3% 10%
    #publicar
      text-align left
      width 50%
      padding 3% 10% 3% 10%
#noAdmin
  h1
    text-align center

/*Fin Agregar Páginas*/

/*Login*/

#login
  width 70%
  margin 5% 15% 5% 15%
  #tablaLogin
    width 70%
    margin 0 15% 0 15%
    #columnaPequena
      width 20%
      height auto
      padding 1% 1% 1% 1%
    #columnaGrande
      width 80%
      height auto
      padding 1% 1% 1% 1%
      input
        width 100%
        height 30px
    #olvidoContrasena
      text-align right
      padding 1% 1% 1% 1%
    #botonIngresar
      text-align center
      padding 1% 1% 1% 1%
      button
        width 100px
        height 30px 

/*Fin Login*/

/*Ver página*/

#contenidoPagina
  width 100%
  h1
    text-align center
  #elemento
    width 80%
    margin 5% 10% 5% 10%
    text-align justify
/*Fin Admin/views/pagina.jade*/