/*Layout*/
.navbar 
  .container-fluid
    .navbar-header
      a.navbar-brand
        padding 0 0 0 1%
    #navbar-collapse-1 
      ul 
        padding-left 3%
        li 
          ul.submenus.dropdown-menu
            min-width 500px
            width auto
            height auto
          .divImagenSubmenu
            img 
              height 50%
              margin 25% 5%  25% -5%
    ul#botonIngresar 
      padding-top 0.7%
      padding-right 2%
      text-align center
      height 100%
      li 
        .btn-group
          button
            height 100%
            background-color #777
            border-color #777
            float right
            a 
              text-decoration none
              color #fff
          .dropdown-menu
            background-color gray
/*Login*/
#login
  width 500px
  padding 5% 15% 5% 15%
  #boton
    button
      width 100px
      background-color white
      color gray
  h5
    text-align center
    color white
  #datos 
    width 100%
    padding 2% 2% 2% 2%
    input 
      margin 2% 2% 2% 2%
      width 93%
      color gray
    span
      color white
  #registrarse
    text-align left
    width 50%
    float left
    a 
      color white
  #olvidoContrasena
    text-align right
    width 50%
    float right
    a 
      color white
/*Fin Login*/

#contenido
  height auto
  min-height 520px
  width 100%
  margin 4% 0 3% 0
  
.footer
  width: 100%
  background-color #777777

  #tituloFundacion
    padding-top 1%
    float left
    width 20%
    p 
      width 80%
      height 100%
      vertical-aling center
      font-size 12px 
      color #fff
      font-weight bold 

  #enlaces
    padding-top 1%
    width 80%
    float right
    
    #tablaEnlaces
    tr 
      td 
        padding 1% 2% 1% 2%
        width 130px
        text-align center
        a 
          color #fff
          font-size 12px

  #copyright
    width 100%
    float left
    p 
      text-align center
      color #fff
      font-size 10px
      
/*Fin Layout*/      
   
/*Home*/
#slider
  background-color #36abd0
  #sliderImagenes
    padding 3% 0 3% 0
    width 100%
    #shadow
      height 100px

#seccionesPrincipales
  width 100%
  background-color #ffe
  float left
  padding 0 4% 0 4%
  
/*flip*/
.card
  float left
  width 245px
  height 350px
  margin 2% 2% 2% 2%

.cardStatic
  float left
  width 245px
  height 350px
  margin 2% 2% 2% 2%
  .content
    p 
      height 85%
      color #fff
      size 30px

.cards
  width 100%
  height 100%

.store
  display none

.content
  padding 15px 0 15px 0
  width 100%
  height 100%
  p 
    text-align center
  #imagenDescripcion
    width 100%
    height 50%
    padding 0 15px 0 15px 
    img 
      width 100%
  #descripcion 
    width 100%
    height 35%
    p 
      text-align center
      width 100%
      color #fff 
  #leerMas   
    width 101px
    margin 5px 72px 0 72px
    border 2px #fff solid
    bottom 0
    text-align center
    a 
      text-decoration none
      color #fff

.fisico 
  background-color #36abd0
.emocional 
  background-color #8762ab
.espiritual 
  background-color #fef000
  #descripcion 
    p 
      color gray
  #leerMas
    width 101px
    margin 5px 72px 0 72px
    border 2px gray solid
    bottom 0
    text-align center
    a 
      text-decoration none
      color gray
    
.otro 
  #descripcion 
    p 
      color gray
  #leerMas   
    width 101px
    margin 5px 72px 0 72px
    border 2px gray solid
    bottom 0
    text-align center
    a 
      text-decoration none
      color gray
/*fin flip*/
        
/*Fin Home*/

/*Agregar paginas*/    
      
#pagina
  width 100%
  padding 3% 10% 3% 10%
  h3 
    text-align center
  #tablaCampos
    width 100%
    .columnaPequena
      width 8%
      height auto
      padding 1% 1% 1% 1%
    .columnaGrande
      width 92%
      height auto
      padding 1% 1% 1% 1%
      text-align center
      input 
        width 80%
        height 30px
      #inputImagen
        margin-left 10%
      textarea
        width 80%
        height 60px
      select
        width 50%
        height 30px
        margin-left 10%
      #textContenido
        width 100%
        
  #tablaBotones
    width 100%
    height auto    
    padding 3% 0 3% 0
    tr td
      text-align center
    td#regresar
      button
        a 
          text-decoration none
          color #fff
/*Fin Agregar Páginas*/
      
/*No administrador*/
#noAdmin
  min-height 800px
  margin-top 10%
  width 100%
  h1
    text-align center
/*Fin no administrador*/

/*editar paginas*/
#editarPaginas
  width 100%
  margin 7% 0 5% 
  h3
    text-align center

  table#tablaEditarPaginas
    width 100%
    text-align center
    tr 
      td
        padding 3% 2% 1% 2%
        height 40px 
        text-align center        
    td.columnaTitulo
      width 35%
    td.columnaUsuario
      width 20%
    td.columnaFecha
      width 20%
    td.columnaAcciones
      width 25%    
    td.botones
      text-align center
      button
          a 
            text-decoration none
            color #fff
      
/*editar paginas*/
        
/*administrador*/
#admin
  margin-top 7%
  width 100%
  h3
    text-align center
  table
    width 60%
    margin 5% 20% 0 20%
    tr
      td
        padding 3% 2% 3% 2%
        text-align center
        button a 
          text-decoration none
          color #fff

/*fin administrador*/

/*Ver página*/

#contenidoPagina
  width 100%
  padding-top 5%
  h1
    text-align center
  #elemento
    width 80%
    margin 5% 10% 5% 10%
    text-align justify
/*Fin ver pagina*/

/*Editar Menu*/
#editarMenu
  padding 3% 10% 0 10%
  h1
    text-align center
  #accordion
    text-align left
    padding-top 2%
  .panel.panel-primary
    .panel-heading
      height 40px 
      h2
        float left
      h3.editar 
        float right
    .panel-body
      .datosMenu
        width 40%
        float left
        .tituloMenu 
          padding 3% 3% 0 3%
          input
            margin-left 15px
            width 300px
        .urlMenu
          padding 3% 3% 0 3%
          span
            margin-right 15px
          input
            margin-left 20px
            width 300px
      .creadorMenu
        text-align center
        padding 2% 3% 0 3%
        width 20%
        float left          
      .acciones
        text-align center
        padding 3% 1% 0 1%
    .tituloSubmenu
      width 100%
      float left
      text-align center
    table
      tr td 
        text-align center
        input
          width 100%
    .guardarMenu
      padding 3px 0 10px 0
      text-align center
      width 100%
            
  #botones
    text-align center
    padding-top 3%
    a 
      text-decoration none
      color #fff
  
  #menuNuevo
    padding-top 3%
/*Fin Editar Menu*/

/*Selector de imagen*/
.btn-file input[type="file"] 
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    opacity 0
    background red
    cursor inherit
    display block

input[readonly] 
    background-color white !important
    cursor text !important

.input-group
    margin-left 10%
    margin-right 10%
    width 95%
/*fin selector de imagen*/
