#logo
  width 10%
  margin-left 15%
  float left

  img
    width 70%

#titulo
  width 70%
  float right

  h1
    text-aling center
    padding-left 15%

#barra
  float right
  width 85%
  padding-left 20%
  a 
   text-decoration none
   font-size 18px
  li
   display: inline;
   text-align: center
   padding 0 10% 0 10%

#contenido
  float left
  min-height 500px
  height auto
  width 80%
  margin 5% 10% 5% 10%

#logoPiePagina
  width 7%
  margin-left 18%
  float left
  img
    width 70%

#enlaces
  width 70%
  float right

#copyright
  width 100%
  margin-top 5%
  float left
  p 
    text-align center

#tablaEnlaces
  tr 
    td 
      padding 2% 2% 2% 2%
      width 150px

#carrusel
  #sliderImagenes
    width 100%
    height 200px
    padding 2% 0 2% 0
    margin-rigth 10%

#seccionesPrincipales
  height 50%
  width 100%
  margin-left 8%
  h3
    text-align center
  p 
    text-align center
  table 
    tr 
      td 
        width 300px

#paginaNueva
  width 70%
  margin-left 15%
  #tablaCampos
    width 100%
    #columnaPequena
      width 15%
      height auto
      padding 1% 1% 1% 1%
    #columnaGrande
      width 85%
      height auto
      padding 1% 1% 1% 1%
      input 
        width 100%
        height 30px
      textarea
        width 100%
        height 30px
  #tablaBotones
    width 100%
    height auto
    #guardar
      text-align right
      width 50%
      padding 3% 10% 3% 10%
    #publicar
      text-align left
      width 50%
      padding 3% 10% 3% 10%