extends ../../../views/layout
block content
  if administrador
    #pagina
      h3 PAGINA NUEVA 
      form(method="POST" enctype='multipart/form-data' action="")
        table#tablaCampos
          tr
           td.columnaPequena
              p Título
           td.columnaGrande
              input(type="text" name="titulo")
          tr 
           td.columnaPequena
              p Enlace
           td.columnaGrande
              input(type="text" name="nombreEnlace")
          tr
            td.columnaPequena
              p Imagen Descripción
            td.columnaGrande
              input#inputImagen(type="file" name="image") 
          tr
           td.columnaPequena
              p Descripción
           td.columnaGrande
              textarea(name="descripcion")
          tr 
            td.columnaPequena
              p Categoría
            td.columnaGrande
              select.form-control(name="categoria")
                option(value="sinCategoria" selected) Sin Categoría
                option(value="fisico") Fisico
                option(value="emocional") Emocional
                option(value="espiritual") Espiritual
          tr
           td.columnaPequena
              p Contenido
           td.columnaGrande
              textarea(name="contenido" id="textContenido" class="ckeditor")
        table#tablaBotones
          tr
           td#guardar
              button.btn.btn-primary(type="submit" onclick="this.form.action='/admin/pagina/guardar'") Guardar 
           td#publicar 
              button.btn.btn-primary(type="submit" onclick="this.form.action='/admin/pagina/publicar'")  Publicar
           td#regresar 
              button.btn.btn-primary(type="button" onclick="location.href='/admin/paginas'") Regresar
  else
     #noAdmin 
      h1 ¡No eres administrador! 